* {

    margin: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}


.top {
    text-indent: 2rem;
    padding: 40px 0;
    background-color: rgb(142, 190, 212);
    background-size: cover;
    border: 50px solid rgb(163, 210, 231);
    border-bottom: 0;
}


.leftborder {
    position: top 0, left 0;
    margin: 0;
    background-color: rgb(163, 210, 231);
    height: 67vh;
    width: 50px;
    float: left;

}

img {

    width: 200px;
    transition: transform 1s ease;
    position: relative;
    float: left;

}


img:hover {

    position: relative;
    float: left;
    -webkit-transform: scale(1);
    /* or some other value */
    transform: scale(1.5);
    transform-origin: left;
    display: block;
    margin-left: 0%;
    float: left;
}

.profil {
    background-color: purple;
    border-right: 50px solid rgb(163, 210, 231);
    border-left: 350px solid rgb(13, 61, 83);



}

.bottomLeft {

    padding: 100px 1rem;
    background-color: red;
    border-left: 50px solid rgb(163, 210, 231);
    border-right: 50px solid rgb(163, 210, 231);
    border-bottom: 50px solid rgb(163, 210, 231);
}